body {
    margin: 0;
    background: url('../Images/Someone_outside_the_stables_horizontal.jpg') no-repeat center center fixed; 
    background-size: cover;
    color:#fff;
    font-family: 'Audiowide', sans-serif;
    font-size: 16px;
}

.title {
    color: #f69222;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}

.text {
    font-weight: 0;
    font-family: 'Michroma', sans-serif;
    padding: 0% 10%;
    text-align: justify;
    letter-spacing: 0.5px;
}

h1{
    color: #f69222;
    font-size: 20px;
}

.flex-parent-element {
    display: flex;
}

.content{
    flex:0.7;
    margin-left: 50px;
    background-color: #111;
    opacity: 0.95;
}

