.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.transform {
    opacity: 0.8;
    transition: transform 0.1s;
}

.transform:hover{
    transform: scale(1.15);
    opacity: 1;
}

.hint_image{
    width:80%;
}

.start_image{
    width:40%;
}

.flex-button {
    flex:0.15;
}

.gif{
    padding:10% 0;
    display: block;
    margin: 0 auto;
    width:auto;
    height: auto;
}

.place_image {
    max-width: 70%;
    height: auto;
}

.image_puzzle_1{
    max-width: 100%;
    margin-top: 5%;
    text-align: center;
}

.imageForm{
    margin-left: 5%;
    margin-bottom: 10%;
    line-height: 30px;
}

.hide{
    display: none
}